.servicePage{
    /* background-color: blue;
    height: 100vh; */
    padding: 10px;
}

.serviceHead{
    display: flex;
    justify-content: center;

}

.serviceHead h1{
    font-size: 3rem;
}

.serviceRow{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.allServices{
    margin-top: 2rem;
}

